<div class="w-full">
  <aside class="w-full xl:px-4 px-0 border-r border-gray-200">
    <h3 class="text-[22px]">Filters</h3>
    <hr />
    <div class="xl:block flex flex-col xl:flex-row justify-between mt-5">

      <!-- Job Type Section -->
      <div class="mb-4">
        <h4 class="text-[18px] font-fw-500 mb-2">Job Type</h4>
        <div *ngFor="let type of ['Permanent', 'Contract']">
          <label class="block">
            <input
              type="checkbox"
              name="jobType"
              [value]="type"
              [checked]="localJobTypes.includes(type)"
              (change)="handleJobTypeChange($event)"
            />
            {{ type }}
          </label>
        </div>
      </div>

      <!-- Work Location Section -->
      <div class="mb-4">
        <h4 class="text-[18px] font-fw-500 mb-2">Work Location</h4>
        <div *ngFor="let location of ['Onsite', 'Hybrid', 'Remote']">
          <label class="block">
            <input
              type="checkbox"
              [value]="location"
              [checked]="localWorkLocations.includes(location)"
              (change)="handleWorkLocationChange($event)"
            />
            {{ location }}
          </label>
        </div>
      </div>

      <!-- Experience Range Section -->
      <div class="mb-4">
        <h4 class="text-[18px] font-fw-500 mb-2">Experience Range</h4>
        <div *ngFor="let range of experienceKeys()">
          <label class="block">
            <input
              type="checkbox"
              [value]="range"
              [checked]="isRangeSelected(range)"
              (change)="handleExperienceRangeChange($event, range)"
            />
            {{ range }}
          </label>
        </div>
      </div>

    </div>
  </aside>
</div>
