<div>
  <app-job-top-section
    [data]="{
      heading: post.title,
      description: 'Posted on ' + (post?.createdDate | date: 'MMM dd YYYY')
    }"
  ></app-job-top-section>
</div>
<div class="container px-4 sm:px-6 lg:px-8 mx-auto">
  <div class="mt-6 mb-4" style="border-bottom: 1px solid #C7C7C8">
    <div class="text-black flex items-center justify-start">
      <a class="text-black text-lg sm:text-lg md:text-xl md:mb-4 me-2" href="/">Job Listing</a>
      <a class="text-black text-lg sm:text-lg md:text-xl md:mb-4 ms-2" href="/">Job Detail</a>
      <a class="text-black text-lg sm:text-lg md:text-xl md:mb-4 ms-2" href="/">Job Application</a>
    </div>
  </div>
  <div>
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngFor="let section of fieldsConfig;let i = index">
          <div [ngStyle]="{'border-bottom': i === fieldsConfig.length - 1 ? 'none' : '1px solid #C7C7C8'}"
               class="py-5">
            <span class="block text-lg font-bold mb-4">{{ section.section }}</span>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-3.5">
              <div [ngClass]="{
                'col-span-1 sm:col-span-2':
                 ['currentCity', 'jobTitle', 'primarySkills', 'linkedinUrl', 'notes', 'language'].includes(field.name),
                 'w-full': true }" *ngFor="let field of section.fields; let index">

                <div *ngIf="field.type === 'text'" class="w-full">
                  <div class="flex items-center justify-between">
                    <div>
                      <label style="margin-bottom: 0;">{{ field.label }}</label>
                      <span *ngIf="field.required" class="text-red-500">*</span>
                    </div>
                    <span class="text-red-500" *ngIf="isInvalidControl(field.name)">
                        {{ field.placeholder }} is required
                      </span>
                  </div>
                  <input
                    style="border:1px solid #ced4da"
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder"
                    [ngClass]="
                    {'mt-1 py-2 px-3 h-[40px] block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm': true,
                    'border-red-500 focus:ring-red-500 focus:border-red-500': isInvalidControl(field.name),
                    'border-gainsboro': !isInvalidControl(field.name)}"
                  >
                </div>

                <!-- Email Input Field -->
                <div *ngIf="field.type === 'email'" class="w-full mt-3">
                  <div class="flex items-center justify-between">
                    <div>
                      <label style="margin-bottom: 0;">{{ field.label }}</label>
                      <span *ngIf="field.required" class="text-red-500">*</span>
                    </div>
                    <span class="text-red-500" *ngIf="isInvalidControl(field.name)">
                        {{ field.placeholder }} is required
                      </span>
                  </div>
                  <input
                    style="border:1px solid #ced4da"
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder"
                    [ngClass]="{'mt-1 py-2 px-3 h-[40px] block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm': true,
                    'border-red-500 focus:ring-red-500 focus:border-red-500': isInvalidControl(field.name),
                    'border-gainsboro': !isInvalidControl(field.name)}"
                  >
                </div>

                <div *ngIf="field.type === 'phoneNumber'" class="w-full relative top-[17px]">
                  <div class="flex items-center justify-between">
                    <div>
                      <label style="margin-bottom: 0;">{{ field.label }}</label>
                      <span *ngIf="field.required" class="text-red-500">*</span>
                    </div>
                    <span class="text-red-500" *ngIf="isInvalidControl(field.name)">
                        {{ field.placeholder }} is required
                      </span>
                  </div>
                  <div>
                    <!--                    <ngx-intl-tel-input-->
                    <!--                      [cssClass]="'custom'"-->
                    <!--                      [preferredCountries]="preferredCountries"-->
                    <!--                      [enableAutoCountrySelect]="true"-->
                    <!--                      [enablePlaceholder]="true"-->
                    <!--                      [searchCountryFlag]="true"-->
                    <!--                      [searchCountryField]="[SearchCountryField.Iso2,SearchCountryField.Name]"-->
                    <!--                      [selectFirstCountry]="false"-->
                    <!--                      [selectedCountryISO]="CountryISO.India"-->
                    <!--                      [maxLength]="15"-->
                    <!--                      [phoneValidation]="true"-->
                    <!--                      [separateDialCode]="true"-->
                    <!--                      [numberFormat]="PhoneNumberFormat.National"-->
                    <!--                      formControlName="mobile"-->
                    <!--                    ></ngx-intl-tel-input>-->
                  </div>
                </div>

                <!-- Number Input Field -->
                <div *ngIf="field.type === 'number'" class="w-full mt-3">
                  <div class="flex items-center justify-between">
                    <div>
                      <label style="margin-bottom: 0;">{{ field.label }}</label>
                      <span *ngIf="field.required" class="text-red-500">*</span>
                    </div>
                    <span class="text-red-500" *ngIf="isInvalidControl(field.name)">
                        {{ field.placeholder }} is required
                      </span>
                  </div>
                  <input
                    style="border:1px solid #ced4da"
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder"
                    [ngClass]="{'mt-1 py-2 px-3 h-[40px] block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm': true,
                    'border-red-500 focus:ring-red-500 focus:border-red-500': isInvalidControl(field.name),
                    'border-gainsboro': !isInvalidControl(field.name)}"
                  >
                  <div *ngIf="form.get('currentCTC')?.value !== '' && field.name === 'currentCTC'"
                       class="text-theme_bgcolor">
                    {{ convertToWords(form.get('currentCTC')?.value) }}
                  </div>
                  <div *ngIf="form.get('expectedCTC')?.value !== '' && field.name === 'expectedCTC'"
                       class="text-theme_bgcolor">
                    {{ convertToWords(form.get('expectedCTC')?.value) }}
                  </div>
                </div>

                <div *ngIf="field.type === 'autoComplete'" class="w-full">
                  <div class="flex items-center justify-between">
                    <div>
                      <label style="margin-bottom: 0;">{{ field.label }}</label>
                      <span *ngIf="field.required" class="text-red-500">*</span>
                    </div>
                    <span class="text-red-500" *ngIf="isInvalidControl(field.name)">
                      {{ field.placeholder }} is required
                    </span>
                  </div>
                  <input
                    style="border:1px solid #ced4da"
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder"
                    [(ngModel)]="inputValue"
                    (input)="handleInputChange($event)"
                    [ngClass]="{'mt-1 py-2 px-3 h-[40px] block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm': true,
                    'border-red-500 focus:ring-red-500 focus:border-red-500': isInvalidControl(field.name),
                    'border-gainsboro': !isInvalidControl(field.name)}"
                  />
                  <div *ngIf="isDropdownOpen" #dropdown>
                    <div
                      class="absolute border bg-white w-full mt-1 max-h-60 overflow-auto z-10 shadow-md">
                      <div *ngFor="let item of filteredSuggestions" (click)="handleItemSelect(item)"
                           class="px-4 py-2 cursor-pointer hover:bg-gray-200 border-b border-gray-50">
                        {{ item.name }}
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Dropdown Field -->
                <div *ngIf="field.type === 'dropdown'" class="w-full mt-3">
                  <div class="flex items-center justify-between">
                    <div>
                      <label style="margin-bottom: 0;">{{ field.label }}</label>
                      <span *ngIf="field.required" class="text-red-500">*</span>
                    </div>
                    <span class="text-red-500" *ngIf="isInvalidControl(field.name)">
                        {{ field.placeholder }} is required
                      </span>
                  </div>
                  <select
                    style="border:1px solid #ced4da"
                    [formControlName]="field.name"
                    [ngClass]="{'mt-1 py-2 px-3 h-[40px] block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm': true,
                    'border-red-500 focus:ring-red-500 focus:border-red-500': isInvalidControl(field.name),
                    'border-gainsboro': !isInvalidControl(field.name)}"
                  >
                    <option value="" disabled>
                      Select {{ field.label }}
                    </option>
                    <option *ngFor="let option of field.options" [value]="option.value">
                      {{ option.label }}
                    </option>
                  </select>
                </div>

                <div *ngIf="field.type === 'skills'" class="relative w-full mt-3">
                  <div class="flex items-center justify-between">
                    <div>
                      <label style="margin-bottom: 0;">{{ field.label }}</label>
                      <span *ngIf="field.required" class="text-red-500">*</span>
                    </div>
                    <span class="text-red-500" *ngIf="isInvalidControl(field.name)">
                      {{ field.placeholder }} is required
                    </span>
                  </div>

                  <div class="relative flex flex-wrap items-center gap-2 rounded-md border-gainsboro focus-within:ring-indigo-500 focus-within:border-indigo-500 text-sm">
                    <div *ngFor="let item of selectedItems"
                         class="py-2 border-gray-200 text-indigo-600 px-3 rounded-full text-sm flex items-center gap-2 bg-white shadow-sm overflow-hidden z-10">
                      <span [class]="getSkillColor(item.level) + 'w-3 h-3 rounded-full'"></span>
                      <span class="flex-grow">{{ item.title }}</span>
                      <button
                        type="button"
                        class="text-red-500 hover:text-red-700 bg-transparent border-0 outline-none"
                        (click)="removeSkill(item.id)">
                        &times;
                      </button>
                    </div>

                    <input
                      style="border:1px solid #ced4da"
                      class="flex-grow bg-transparent focus:outline-none pl-2"
                      [placeholder]="field.placeholder"
                      [required]="field.required"
                      [formControl]="inputControl"
                      (focus)="isSkillDropdownOpen = true"
                      (input)="handleSkillInputChange($event)"
                      [ngClass]="{'mt-1 py-2 px-3 h-[40px] block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm': true,
                    'border-red-500 focus:ring-red-500 focus:border-red-500': isInvalidControl(field.name),
                    'border-gainsboro': !isInvalidControl(field.name)}"
                    />
                  </div>

                  <div *ngIf="isSkillDropdownOpen" #dropdownSkills style="border:1px solid; position: absolute;"
                       class="bg-white border-1 border-gray-300 rounded-lg overflow-hidden">
                    <div style="border-bottom: 1px solid"
                         class="text-sm font-medium text-gray-700 border-gray-200">
                      <div class="inline-block p-4">Relevant Skills</div>
                    </div>
                    <div
                      class="flex flex-wrap m-2 bg-white w-full mt-1 max-h-60 overflow-auto z-10">
                      <div *ngFor="let item of filteredSkillSuggestions;let i = index"
                           class="hover:bg-gray-200 px-4 py-2 cursor-pointer rounded-md m-1"
                           (click)="handleSkillSelect(item,i)">
                        {{ item.title }}
                      </div>
                      <div *ngIf="filteredSkillSuggestions.length === 0">No Skills Found</div>
                    </div>

                    <!-- Skill Levels Section -->
                    <div
                      class="text-sm font-medium text-center text-gray-700 bg-gray-100 border-b border-gray-200">
                      <div class="flex items-center justify-center space-x-4 p-4">
                        <div *ngFor="let level of skillLevels" class="flex items-center">
                          <input
                            type="radio"
                            [id]="level.id"
                            name="skill-level"
                            class="hidden peer"
                            [checked]="selectedLevel === level.id"
                            (change)="handleLevelChange(level.id)"
                          />
                          <label
                            [for]="level.id"
                            [class]="selectedLevel === level.id ? 'bg-indigo-600 text-white' : 'hover:bg-gray-200'"
                            class="cursor-pointer px-4 py-2 border border-gray-300 rounded-md"
                          >
                            {{ level.label }}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- URL Input Field -->
                <div *ngIf="field.type === 'url'" class="w-full">
                  <div class="flex items-center justify-between">
                    <div>
                      <label style="margin-bottom: 0;">{{ field.label }}</label>
                      <span *ngIf="field.required" class="text-red-500">*</span>
                    </div>
                    <span class="text-red-500" *ngIf="isInvalidControl(field.name)">
                        {{ field.placeholder }} is required
                      </span>
                  </div>
                  <input
                    style="border:1px solid #ced4da"
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder"
                    [ngClass]="{'mt-1 py-2 px-3 h-[40px] block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm': true,
                    'border-red-500 focus:ring-red-500 focus:border-red-500': isInvalidControl(field.name),
                    'border-gainsboro': !isInvalidControl(field.name)}"
                  >
                </div>

                <!-- File Input Field -->
                <div *ngIf="field.type === 'file'" class="-w-full">
                  <div>
                    <div class="col-span-1 flex flex-col items-start justify-start">
                      <div class="flex items-center justify-between">

                        <div>
                          <label style="margin-bottom: 0;"
                                 class="block text-sm font-medium text-gray-700 mb-1">
                            {{ field.label }}
                            <span>(size less than 1MB)</span>
                            <span *ngIf="field.required" class="text-red-500">*</span>
                          </label>
                        </div>
                      </div>
                      <div
                        class="flex justify-center items-center flex-col border-2 border-dashed border-black-850
                        bg-gray-55 border-gray-60-200 rounded-lg w-[85%] h-[200px] cursor-pointer"
                        (drop)="handleDrop($event)"
                        (dragover)="handleDragOver($event)"
                        (dragleave)="handleDragLeave($event)"
                        (click)="fileInput.click()"
                      >
                        <input
                          type="file"
                          accept=".jpeg,.png,.pdf,.docx"
                          class="hidden"
                          #fileInput
                          (change)="handleFileChange($event)"
                        />
                        <label class="cursor-pointer">
                          <div *ngIf="!file" class="mb-2">
                            <svg
                              class="mx-auto h-12 w-12 text-black"
                              fill="none"
                              stroke="currentColor"
                              viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M7 16v-2a4 4 0 014-4h1m4 4v6m0 0H7m4 0h6m-3-4l-3 3-3-3"
                              />
                            </svg>
                          </div>
                          <div *ngIf="file" class="mt-2 w-[85%] text-black">
                            Selected file: {{ file.name }}
                          </div>
                          <p *ngIf="!file" class="text-black">
                            Drag & drop files or <span class="text-blue-600 cursor-pointer">Browse</span>
                          </p>
                        </label>
                        <p *ngIf="!file" class="text-xs mt-4 text-pg_2">
                          Select pdf or docs
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="field.type === 'language'" class="w-full">
                  <div class="flex items-center justify-between w-full">
                    <div class="w-[40%]">
                      <h6 class="text-lg font-medium">Rate Your English Communication Skills</h6>
                    </div>
                    <div class="w-[60%] flex items-center justify-end">
                      <input
                        type="range"
                        min="1"
                        max="10"
                        [(ngModel)]="value"
                        class="w-[70%] bg-red-600 text-white py-2"
                      />
                      <span class="ml-4 w-[30%] text-blue-500 font-medium text-sm">
                    {{ getLabel(value) }}
                  </span>
                    </div>
                  </div>
                </div>

                <!-- Textarea Field -->
                <div *ngIf="field.type === 'textarea'" class="w-full">
                  <div class="flex items-center justify-between">
                    <label style="margin-bottom: 0;">{{ field.label }}</label>
                    <span *ngIf="field.required" class="text-red-500">*</span>
                    <span *ngIf="isInvalidControl(field.name)">
                        {{ field.placeholder }} is required
                      </span>
                  </div>
                  <textarea style="border:1px solid #ced4da" [formControlName]="field.name"
                            [placeholder]="field.placeholder"
                            [ngClass]="{'mt-1 py-2 px-3 h-[40px] block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm': true,
                    'border-red-500 focus:ring-red-500 focus:border-red-500': isInvalidControl(field.name),
                    'border-gainsboro': !isInvalidControl(field.name)}"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 mb-4">
          <div class="flex items-center justify-center gap-4">
            <button
              type="button"
              class="border-black-850 text-black-850 border-[1px] py-2 px-2 rounded-lg"
            >
              Cancel
            </button>
            <button style="background: #70BF45; border:none"
                    type="submit"
                    class="text-white py-2 px-2 rounded-lg"
            >
              Submit Application
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
